.top-nav {
  padding: 40px 0 30px;
  text-align: center;

  a {
    font-size: 24px;
    color: #fff;
    padding: 30px;
    text-decoration: none;
    opacity: 0.6;
  }

  a:hover {
    color: gold;
    opacity: 0.8;
    transition: 1s;
  }

  a.router-link-exact-active {
    color: gold;
    opacity: 0.8;
  }
}
